
.container {
    margin: 15px auto ;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    width: 100vw;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    color: #666;
}

.features {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 16px;
}

.feature {
    flex: 1;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.feature:hover {
    transform: translateY(-5px);
}

.feature i {
    font-size: 3em;
    color: #3498db;
    margin-bottom: 20px;
}

.feature h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1.1em;
    color: #777;
}

.call-to-action {
    text-align: center;
}

.call-to-action h2 {
    font-size: 2em;
    margin-bottom: 8px;
}

.call-to-action p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 16px;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 8px;

}

button:hover {
    background-color: #2980b9;
}